.title {
  margin: 0.5em;
  text-align: "center";
}

.subtitle {
  margin: 0.8em;
  text-align: "center";
  max-width: 750px;
}

.wrapper {
  margin: 2em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imgContainer {
  max-width: 200px;
  padding: 20px;
  margin: 5px;
  border: 1px solid black;
}

.imageGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2em;
}

.graphWrapper {
  width: 90%;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  min-width: 200px;
  margin-top: 2.5em;
}

.loading li {
  list-style-type: none;
}

.loading {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  height: 500px;
}

.tableStyle {
  border-collapse: collapse;
  width: 100%;
}

.tableStyle th {
  padding: 8px;
  text-align: left;
}

.tableStyle td {
  padding: 8px;
  text-align: left;
}

.tableStyle th {
  background-color: #f2f2f2;
}

.predictBtn {
  padding: 10px;
}

.container {
  background-color: white;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  background-color: #081015;
}

.navbar ul {
  display: flex;
  list-style: none;
  color: white;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar li:last-child {
  margin-left: auto;
  pointer-events: none;
}

.navbar li:hover {
  cursor: pointer;
}